test/images.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Define elements according to the expected input of tikiToMwiki.py -->
    <xs:element name="resultset">
        <xs:element name="row" maxOccurs="unbounded">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="filename" type="xs:string"/>
                    <xs:element name="path" type="xs:string"/>
                    <xs:element name="fileID" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:element>
</xs:schema>
